{%- assign t = site.data.i18n[page.lang] | default: site.data.i18n.en -%}
    <footer class="site-footer sticky-bottom mt-5">
      <div class="container">
        {%- if page.lang == 'zh-CN' -%}
        &copy; {{ site.time | date: '%Y' }} 张蒲石。{{ t.built_with }}{%- if site.last_updated -%}{{ t.last_updated }}：{{ site.time | date: '%Y-%m-%d' }}。{%- endif -%}
        {%- else -%}
        &copy; {{ site.time | date: '%Y' }} {{ site.first_name }} {{ site.last_name }}. {{ t.built_with }}{%- if site.last_updated %} {{ t.last_updated }}: {{ site.time | date: '%B %-d, %Y' }}.{%- endif -%}
        {%- endif -%}
      </div>
    </footer>
